@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono:wght@400;700&family=Anton&display=swap');
@import "./theme.css";

@layer utilities {
  .focus-ring {
    outline: none;
  }

  .focus-ring:focus-visible {
    box-shadow: 0 0 0 3px var(--color-focus-ring);
  }
}

.react-phone-number-input__icon,
.react-phone-number-input__country {
  display: none !important;
}

.PhoneInputCountry {
  display: none !important;
}